.week-view {

    display: grid;
    grid-template-columns: repeat(7, auto);
    margin: 10px;

    .header, 
    .container {
        display: contents;
    }

    .view-header p {
        position: relative;
        top: 50%;
        margin: 0;
        text-align: center;
        transform: translateY(-50%);
    }

    .view-content {
        min-height: 60vh;
    }
}