.app-header {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 50px;

    .header-container {

        button.current {
            background-color: #82b2e2;
        }

        &.center {
            display: inline-flex;
            align-items: center;
            height: 30px;
        }
    }

}