.month-view {

    .month-content {
        display: grid;
        grid-template-columns: repeat(7, auto);
        margin: 10px;
    } 

    .header, 
    .container {
        display: contents;
    }

    .month-title {
        text-align: center;

        p {
            display: initial;
            margin: 0 8px;
        }   
    }
}